@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@700&family=Crimson+Text:wght@400;600&family=Inter:wght@400;500;600&display=swap');

/*font-family: 'Cormorant SC', serif;
font-family: 'Crimson Text', serif;
font-family: 'Inter', sans-serif;*/

/*RESET CSS - *(todo o coteúdo) e Body font-size 100%*/

* {
    margin: 0;
    padding: 0%; /*verificar isso*/
    box-sizing: border-box;
    text-decoration: none;
}

body {
    padding: 0%;
    font-size: 100%;
    height: 100%;
    background-color: #1b1b1b;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}

@keyframes fadeIn { /* SÓ FUNCIONA COM ISSO */
    0% { opacity: 0; }
  100% { opacity: 1; }
}






/*----------------------------------------------------------------------------------------------------------------*/





                                                 /*   CABEÇALHO   */
.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0.8%;
    color: #F5F5F5;
    background-image: linear-gradient(to top, #d9d9d9, #e6e6e6, #eeeeee, #ffffff, white, white);
}

.cabecalho-logotipo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1%;
}

.cabecalho-imagem {
    height: 8vh;
}

.cabecalho-escrito {
    height: 6vh;
}

.cabecalho-menu {
    display: flex;
    gap: 2.5em;
}

.cabecalho-nav {
    font-family: 'Inter', sans-serif;
    color: black;
    font-weight: 401;
    font-size: 1em;
}

.cabecalho-nav:hover {
    transform: scale(1.08); /* Aumentar tamanho quando passa o mouse em cima */
}





/*----------------------------------------------------------------------------------------------------------------*/






                                                 /*     INÍCIO    */
.conteudo-inicio {
    margin-top: 2%;
    height: 100%;
}

.conteudo-principal {
    display: flex;
    justify-content: center;
    padding: 1.5%;
    align-items: center;
    flex-direction: column;
    animation: fadeIn 1s ease-in-out forwards;
    margin-bottom: 6%;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}
     
.conteudo-principal-titulo {
    display: flex;
    font-family: 'Inter', sans-serif;
    font-size: 1.3em;
    font-weight: 500;
    letter-spacing: 0.4em;
    color: #F5F5F5;
}

.conteudo-principal-subtitulo {
    display: flex;
    font-family: Cormorant SC;
    font-size: 4em;
    font-weight: 600;
    letter-spacing: 0.4em;
    color: #F5F5F5;
    margin-top: 4%;   
}

.conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    margin-top: 3%;
}

.base-linha {
    margin-top: 1%;
    border-top: 1px solid #F5F5F5;
    color: rgba(109, 109, 109, 0.0);
    text-align: center;
    font-family: Inter;
    font-size: 1.5em;
}

.conteudo-secundario-paragrafo {
    color: #F5F5F5;
    text-align: center;
    font-family: Inter;
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 0.15em;
    margin-top: 4.5%;
}

.conteudo-secundario-frase {
    color: #F5F5F5;
    text-align: center;
    font-family: 'Inter', sans-serif;   
    font-size: 1em;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.15em;
}

.conteudo-secundario-botao {
    background-color: rgba(109, 109, 109, 0.50);
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 0.14em;
    width: 25%;
    height: 6vh;
    flex-shrink: 0;
    border: none;
    border-radius: 5em;
    margin-top: 7%;
}

.conteudo-secundario-botao-texto {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    font-weight: 500;
    letter-spacing: 0.06em;
}

.conteudo-secundario-botao:hover {
    transform: scale(1.09);
}


/*----------------------------------------------------------------------------------------------------------------*/






                                                 /*     SOBRE    */                                                
.conteudo-sobre {
    margin-top: 2%;
    height: 100%;
}

.titulo-sobre {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6%;
}

.sobre-nos {
    display: flex;
    font-family: Cormorant SC;
    font-size: 3em;
    font-weight: 600;
    letter-spacing: 0.3em;
    color: #F5F5F5; 
    animation: fadeIn 0.6s ease-in-out forwards;
}

.conteudo-container-sobre {
    display: flex;
    justify-content: center;
    padding: 1.5% 20%;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2%;
}


.conteudo-sobre-bloco {
    background-color: #f4f4f4; /* Cor de fundo dos blocos */
    padding: 2%;
    text-align: center;
    border: 1px solid #f4f4f4;
    margin: 10px;
    margin-bottom: 10%;
    border-radius: 15px;
    animation: fadeIn 1.2s ease-in-out forwards;
}

.conteudo-container-sobre-bloco1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10%;
    margin-bottom: 6%;
    margin-top: 3%;
}

.conteudo-container-sobre-advogado-foto {
    max-width: 100%;
    height: 40vh;
}

.conteudo-container-sobre-divisoria {
    display: flex;
    color: #f4f4f4;
    border-left: 1px solid #8c8c8c;
    font-size: 1em;
    width: 1vw; 
    height: 20vh;
}

.conteudo-container-sobre-advogado-texto {
    display: flex;
    font-family: 'Inter', sans-serif;
    font-size: 1.2em;
    width: 30%; 
    text-align: justify;
}

.conteudo-container-sobre-bloco2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4%;
}

.conteudo-container-sobre-escritorio-texto {
    display: flex;
    font-family: 'Inter', sans-serif;
    font-size: 1.2em;
    width: 25%; 
    text-align: justify;
}

.conteudo-container-sobre-escritorio-foto {
    max-width: 100%;
    height: 45vh;
}





/*----------------------------------------------------------------------------------------------------------------*/






                                                /*    SERVIÇOS    */
.conteudo-servico {
    height: 100%;
}

.titulo-servico {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6%;
}

.areas-atuacao {
    display: flex;
    font-family: Cormorant SC;
    font-size: 3em;
    font-weight: 600;
    letter-spacing: 0.3em;
    color: #F5F5F5; 
    animation: fadeIn 0.6s ease-in-out forwards;
}

.conteudo-container-servico {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20%;
    margin-top: 5%;
    padding: 1.5% 15%;
}

.conteudo-servico-bloco {
    background-color: #f4f4f4; /* Cor de fundo dos blocos */
    border: 1px solid #f4f4f4;
    border-radius: 15px;
    margin-bottom: 10%;
    text-align: center;
    animation: fadeIn 1.2s ease-in-out forwards;
    padding: 1.5%;
}

.conteudo-container-servico1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.icone-servico1 {
    display: flex;
    margin-top: 2%;
    height: 8vh;
}

.titulo-servico1 {
    display: flex;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.descricao-servico1 {
    display: flex;
    width: 80%;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 340;
}

.saiba-mais-servico1 {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: #000;
    font-weight: 700;
}

.saiba-mais-servico1:hover {
    transform: scale(1.12) ;  
}

.conteudo-container-servico2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.icone-servico2 {
    display: flex;
    margin-top: 2%;
    height: 8vh;
}

.titulo-servico2 {
    display: flex;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.descricao-servico2 {
    display: flex;
    width: 80%;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 340;
}

.saiba-mais-servico2 {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: #000;
    font-weight: 700;
}

.saiba-mais-servico2:hover {
    transform: scale(1.12) ;  
}





/*----------------------------------------------------------------------------------------------------------------*/






                                                     /*   CONTATO   */
.conteudo-contato {
    margin-bottom: 7em;
    height: 100%;
}

.contato-div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    animation: fadeIn 1.2s ease-in-out forwards;
    margin-top: 8%;
}

.contate-nos {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #F5F5F5;
    gap: 15px;
}

.contate-nos-titulo {
    display: flex;
    font-family: 'Cormorant SC', serif;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 3px;
    margin-bottom: 20px;
}

.contate-nos-frase {
    display: flex;
    font-family: Inter;
    font-size: 16px;
    font-weight: 50;
    letter-spacing: 2px;
    width: 20vw;
    margin-bottom: 15%;
    text-align: center;
}

.contato-email {
    display: flex;
    font-family: Inter;
    font-size: 15px;
    font-weight: 50;
    letter-spacing: 2px;
    margin-bottom: 10%;
    text-align: center;
}

.link-rede-social {
    display: flex;
    flex-direction: row;
    align-items: center;   
    gap: 20px; 
}

.link-insta {
    height: 5vh;
}

.link-insta:hover {
    transform: scale(1.1)
}

.link-whats {
    height: 4.5vh;
}

.link-whats:hover {
    transform: scale(1.1)
}

fieldset {
    border: 0;
    border-top: 2em;
}

.campo {
    margin-bottom: 2em;
}

input {
    color: #F5F5F5;
    font-family: Inter;
}

.campo input {
    padding: 0.1em;
    border: none;
    border-bottom: 1px solid #F5F5F5;
    background-color:#00000000;
    padding: 10px 15px;
}

input::placeholder {
    color: #F5F5F5;
    font-family: Inter;
}


textarea {
    color: #F5F5F5;
    font-family: Inter;
}

.campo textarea {
    padding: 0.1em;
    border: none;
    border-bottom: 1px solid #F5F5F5;
    background-color:#00000000;
    resize: none;
    padding: 10px 15px;
}

textarea::placeholder {
    color: #F5F5F5;
    font-family: Inter;
}

.botao-form {
    font-size: 0.9em;
    background:#F5F5F5;
    border: 0;
    border-radius: 0.7em;
    margin-bottom: 0.9em;
    color: #000;
    padding: 0.4em;
}

.botao-form:hover {
    background: rgba(245, 245, 245, 0.685);
    cursor:pointer;
}






/*----------------------------------------------------------------------------------------------------------------*/






                                                    /* RODAPÉ */
.rodape {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #F5F5F5;
    background-image: linear-gradient(to bottom, #e6e6e6, #eaeaea, #f4f4f4, #ffffff, white, white);
    padding: 1%;
    width: 100vw;
    height: 7vh;
    position: fixed;
    bottom: 0;
    left: 0;
}

.rodape-conteudo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}

.rodape-icon {
    height: 4vh;
}

.rodape-direitos {
    display: flex;
    font-family: 'Inter', sans-serif;
    color: rgba(26, 26, 26, 0.961);
    font-size: 13px;
    font-weight: 420;
}

.rodape-menu {
    display: flex;
    gap: 20px;
    align-items: center;
}

.rodape-menu-item {
    font-family: 'Inter', sans-serif;
    color: rgba(26, 26, 26, 0.961);
    font-weight: 420;
    font-size: 13px;
}

.rodape-menu-item:hover {
    transform: scale(1.05);
}

