@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@700&family=Crimson+Text:wght@400;600&family=Inter:wght@400;500;600&display=swap');

/*font-family: 'Cormorant SC', serif;
font-family: 'Crimson Text', serif;
font-family: 'Inter', sans-serif;*/

/*RESET CSS - *(todo o coteúdo) e Body font-size 100%*/

* {
    margin: 0;
    padding: 0%; /*verificar isso*/
    box-sizing: border-box;
    text-decoration: none;
}

body {
    padding: 0%;
    font-size: 100%;
    height: 100vh;
    background: url(img/capa-inicial.jpg);
    background-color: rgb(170, 170, 170);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
    color: #F5F5F5;
    background-image: linear-gradient(to top, #cccccc, #d7d7d7, #ececec, #f6f6f6, white, white)
}

.cabecalho-logotipo {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cabecalho-imagem {
    height: 70px;
}

.cabecalho-escrito {
    height: 55px;
}

.cabecalho-menu {
    display: flex;
    gap: 40px;
}

.cabecalho-nav {
    font-family: 'Inter', sans-serif;
    color: black;
    font-weight: 500;
    font-size: 17px;
}

.cabecalho-nav:hover {
    transform: scale(1.08) ;
    
}

/*.cabecalho-menu-sobre {
    font-family: 'Inter', sans-serif;
    color: black;
    font-weight: 500;
    font-size: 17px;
}

.cabecalho-menu-servicos {
    font-family: 'Inter', sans-serif;
    color: black;
    font-weight: 500;
    font-size: 17px;
}

.cabecalho-menu-contato {
    font-family: 'Inter', sans-serif;
    color: black;
    font-weight: 500;
    font-size: 17px;*/
}

.conteudo {
    margin-bottom: 48px; /* espaço entre o fim do ultimo ítem e o começo do rodapé */
}

.conteudo-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
    gap: 30px;
}

.conteudo-principal-titulo {
    display: flex;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 9px;
    color: #F5F5F5;
}

.conteudo-principal-subtitulo {
    display: flex;
    font-family: Cormorant SC;
    font-size: 60px;
    font-weight: 600;
    letter-spacing: 16px;
    color: #F5F5F5;   
}

.conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 48px;
}

.base-linha {
    margin-top: 15px;
    border-top: 1px solid #F5F5F5;
    color: rgba(109, 109, 109, 0.0);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
}

.conteudo-secundario-paragrafo {
    color: #F5F5F5;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

.conteudo-secundario-frase {
    color: #F5F5F5;
    text-align: center;
    font-family: 'Inter', sans-serif;   
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2.2px;
}

.conteudo-secundario-botao {
    background-color: rgba(109, 109, 109, 0.50);
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.85px;
    width: 170px;
    height: 43px;
    flex-shrink: 0;
    border: none;
    border-radius: 12px;
    margin-top: 25px;
}

.conteudo-secundario-botao-texto {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.85px;
}

.conteudo-secundario-botao:hover {
    transform: scale(1.09);
}


.rodape {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #F5F5F5;
    background-image: linear-gradient(to bottom, #e6e6e6, #eaeaea, #f4f4f4, #ffffff, white, white);
    padding: 13px;
    width: 100%;
    height: 60px;
    position: fixed;
    bottom: 0;
    left: 0;
}

.rodape-conteudo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}

.rodape-icon {
    height: 30px;
}

.rodape-direitos {
    display: flex;
    font-family: 'Inter', sans-serif;
    color: rgba(26, 26, 26, 0.961);
    font-size: 13px;
    font-weight: 420;
}

.rodape-menu {
    display: flex;
    gap: 20px;
    align-items: center;
}

.rodape-menu-item {
    font-family: 'Inter', sans-serif;
    color: rgba(26, 26, 26, 0.961);
    font-weight: 420;
    font-size: 13px;
}

.rodape-menu-item:hover {
    transform: scale(1.05);
}
